/* Customized tachyons styles. */
body {
  font-family: 'Merriweather Sans', 'sans-serif';
}

.sans-serif {
  font-family: 'Merriweather Sans', 'sans-serif';
}

.serif {
  font-family: 'Merriweather';
}
