/* Customized tachyons styles. */
body {
  font-family: 'Open Sans', 'sans-serif';
}

p {
  font-family: 'Lora', 'serif';
}

.sans-serif {
  font-family: 'Open Sans', 'sans-serif';
}

.serif {
  font-family: 'Lora', 'serif',
}
