.navbar__menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  transition: all .4s ease;
}

.navbar__menu .navbar__links {
  opacity: 0;
  transition: all .3s ease-in .4s;
}

.navbar__menu__active {
  width: 24rem;
  max-width: 100vw;
}

.navbar__menu__active .navbar__links {
  opacity: 1;
}
