.about__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: dense;
}



.about__double-high {
  grid-row-end: span 2;
}

@media screen and (min-width: 30em) {
  .about__grid {
    grid-template-columns: 1fr 1fr;
  }
  .about__double-wide {
    grid-column-end: span 2;
  }
}

@media screen and (min-width: 60em) {
  .about__grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .about__triple-wide {
    grid-column-end: span 3;
  }
}
