.generic-grid {
  display: grid;
  grid-template-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  grid-template-areas:
    "top"
    "side-1"
    "side-2"
    "side-3"
    "bottom"
}


@media screen and (min-width: 60em) {
  .generic-grid {
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 5rem 1fr 5rem 1fr 5rem 1fr 5rem;
    grid-gap: 0rem;

  }
  .triple-grid {
    grid-template-areas:
    "_ top top top top top ____"
    "_ side-1 __ side-2 ___ side-3 ____"
    "_ bottom bottom bottom bottom bottom ____"
  }
  .double-right-grid {
    grid-template-areas:
    "_ top top top top top ____"
    "_ side-1 __ side-3 side-3 side-3 ____"
    "_ bottom bottom bottom bottom bottom ____"
  }
  .double-left-grid {
    grid-template-areas:
    "_ top top top top top ____"
    "_ side-1 side-1 side-1 ___ side-3 ____"
    "_ bottom bottom bottom bottom bottom ____"
  }
}
