.homepage__grid {
  column-count: 1;
  column-gap: 0px;
  margin: auto;
}

@media (min-width: 768px) {
  .homepage__grid {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .homepage__grid {
    column-count: 3;
  }
}
